
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 760px;
}
header{
    background: rgba(255,255,255,.05);
    font-size: 0;
}
.top_logo{
    display: inline-block;
    width: 100%;
    height: 1.222222rem;
    background: url(../images/top_logo.png) no-repeat;
    margin: 0.444444rem 0 0.259259rem 0.888889rem;
}
.btn{
    position: absolute;
    right: 0.722222rem;
    top: 0.481481rem;
    border: 1px solid #fff;
    border-radius: 0.185185rem;
    background-color: transparent;
    width: 1.351852rem;
    height: 1.018519rem;
}
.btn .icon{
    position: absolute;
    top: 50%;
    left: 0.333333rem;
    margin-top: -0.027778rem;
    display: inline-block;
    width: 0.666667rem;
    height: 0.055556rem;
    background: #fff;
}
.btn .icon::after,.btn .icon::before{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 0.055556rem;
    background: #fff;
}
.btn .icon::after{
    bottom: 0.185185rem;
}
.btn .icon::before{
    top: 0.185185rem;
}
.download_box{
    position: relative;
    background: url(../images/background.png) no-repeat rgba(0,0,0,.3);
    height: 29.907407rem;
    text-align: center;
    color: #fff;
}
.download_box .p_lead{
    font-size: 1.246111rem;
    font-weight: bold;
    padding-top: 1.518519rem;
    padding-bottom: 0.5rem; 
}
.download_box>p{
    font-size: 0.830741rem;
    line-height: 1.111111rem;
    font-weight: 300;
}
.erweima{
    margin-top: 0.611111rem;
}
.erweima img{
    padding: 0.222222rem;
    background: #fff;
    border-radius: 0.185185rem;
    display: block;
    margin: 0 auto;
}
.erweima p{
    margin-top: 0.148148rem;
    margin-bottom: 0.851852rem;
    font-size: 0.373889rem;
}
.btn_download{
    display: block;
    margin: 0 auto;
    width: 8.518519rem;
    height: 1.611111rem;
    border: 3px solid #fff;
    border-radius: 1.851852rem;
    font-size: 0.66963rem;
    color: #fff;
    line-height: 1.611111rem;
    margin-bottom: 0.851852rem;
}
.btn_download:hover,.btn_bottom_download:hover{
    text-decoration: none;
}
.btn_download .icon{
    position: relative;
    display: inline-block;
    width: 1.0rem;
    height: 1.148148rem;
    top: 0.166667rem;
}
.ios_icon{
    background: url(../images/icon.png) no-repeat 0 -147px;
}
.andorid_icon{
    background: url(../images/icon.png) no-repeat 0 -265px;
}
.btn_download .text{
    position: relative;
    top: -0.111111rem;
}
.ip_iocn{
    position: absolute;
    top: 19.333333rem;
    width: 14.055556rem;
    height: 22.222222rem;
    z-index: 100;
    background: url(../images/ip_iocn.png) no-repeat;
}
.zhiNengDuiXiang_box{
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.img_box{
    margin: 0 auto 1.407407rem;
}
.photo_1{
    background: url(../images/zhiNengDuiXiang.png) no-repeat center;
    height: 8.240741rem;
}
.text_box{
    font-size: 0.444444rem;
    line-height: 0.666667rem;
    color: #707070;
}
.text_box .header,.text_box .title{
    font-size: 0.851852rem;
    line-height: 1.111111rem;
    color: #444550;
}
.text_box .header{
    font-weight: bolder;
}
.text_box .title{
    font-weight: 400;
}
.margin_bottom_29px{
    margin-bottom: 0.537037rem;
}
.photo_2{
    background: url(../images/zhiNengDuiXiang2.png) no-repeat center;
    height: 5.851852rem;
    margin-top: 1.611111rem;
}
.photo_3{
    margin-top: 1.907407rem;
    background: url(../images/zhiNengDuiXiang3.png) no-repeat center;
    height: 10.0rem;
}
.photo_4{
    margin-top: 1.259259rem;
    background: url(../images/zhiNengDuiXiang4.png) no-repeat center;
    height: 7.462963rem;
}
.cooperator_box{
    background: url(../images/hezuo_logo.png) no-repeat ;
    width: 10.37037rem;
    height: 1.37037rem;
    margin: 0 auto ;
}
.bottom_box{
    text-align: center;
    height: 6.722222rem;
    background: url(../images/bg_bottom.jpg) no-repeat center;
    color: #fff;
}
.bottom_box>p{
    font-size: 0.648148rem;
    letter-spacing: 0.481481rem;
    line-height: 1;
    padding: 0.925926rem 0 0.37037rem;
}
.download_bottom_box{
    position: relative;
    height: 3.333333rem;
    margin: 0 0.314815rem 0 0.5rem;
    border-radius: 0.148148rem;
    background: rgba(0,0,0,.2);
}
.btn_grounp{
    padding: 0.462963rem 0 0 1.092593rem;
}
.btn_bottom_download{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.37037rem;
    line-height: 0.907407rem;
    width: 4.740741rem;
    height: 0.907407rem;
    border: 1px solid #fff;
    border-radius: 3.703704rem;
    margin-bottom: 0.37037rem;
}
.btn_bottom_download .icon{
    position: relative;
    top: 0.12963rem;
    display: inline-block;
    width: 0.555556rem;
    height: 0.666667rem;
}
.btn_bottom_download .ios_icon{
    background: url(../images/icon.png) no-repeat 0 -14px;
}
.btn_bottom_download .andorid_icon{
    background: url(../images/icon.png) no-repeat 0 -65px;
}
.btn_bottom_download .text{
    position: relative;
    top: -0.055556rem;
}
.bottom_erweima{
    position: absolute;
    top: 0.314815rem;
    right: 1.018519rem;
    font-size: 0;
}
.erweima_img{
    display: inline-block;
    padding: 0.166667rem;
    border-radius: 0.148148rem;
    background: #fff;
    margin-right: 0.296296rem;
}
.erweima_img img{
    width: 2.333333rem;
    height: 2.333333rem;
    display: block;
}
.bottom_erweima>p{
    display: inline-block;
    width: 1em;
    font-size: 0.222222rem;
    line-height: 1.15;
    position: relative;
    top: -9px;
}
.bottom_erweima>p>span{
    display: block;
    width: 1em;
    height: 1em;
}
footer{
    padding: 0.444444rem 0;
    text-align: center;
    line-height: 0.444444rem;
    font-size: 0.333333rem;
    color: #999;
}
.margin_bottom_126px{
    margin-bottom: 2.333333rem;
}
.margin_top_703px{
    margin-top: 13.018519rem;
}